
.about {
    background-color: lightseagreen;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    width: 50%;
    height: 200px;
}

.tutorials {
    background-color: lightseagreen;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    height: 200px;
}

.flex-container {
    background-color: lightseagreen;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;

    }

    .container {
    background-color: seagreen;
    border: 2px solid white;
    height: 180px;
    margin: 10px;
    flex: 1;
    }

    .container-two {
    background-color: seagreen;
    border: 2px solid white;
    height: 150px;
    margin: 10px;
    flex: 1;
    }

    .container-three {
    background-color: seagreen;
    height: 150px;
    border: 2px solid white;
    margin: 10px;
    flex: 1
    }

.privatecoaching {
    background-color: lightseagreen;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    height: 200px;
}

.blockone {
    display: flex;
}

.blockone div {
    flex: 1;
}

.blocktwo {
    display: flex;
}

.blocktwo div {
    flex: 1;
}