
.about {
    background-color: lightseagreen;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    width: 50%;
    height: 200px;
}

.tutorials {
    background-color: lightseagreen;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    height: 200px;
}

.clinics {
    background-color: rgb(255, 0, 217);
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    height: 200px; 
}

.clinics2 {
    background-color: black;
    border: 2px dotted white;
    margin: 10px;
}

.privatecoaching {
    background-color: lightseagreen;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    height: 200px;
}

.blockone {
    display: flex;
}

.blockone div {
    flex: 1;
}

.blocktwo {
    display: flex;
}

.blocktwo div {
    flex: 1;
}

.clinics {
    display: flex;
}

.clinics div {
    flex: 1;
}